html, body{
    margin: 0;
    padding: 0;
}
#main{
    width: auto;
    height: auto;
    background-image: linear-gradient(220deg, #93dbc9 30%, #78a3b6);
    display: flex;
    flex-direction: column;
}
#social{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.social{
    margin-right: 30px;
    margin-left: 10px;
}
.img1{
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: row;
}
#menu{
    display: flex;
    margin-right: 30px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
}
.menu{
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
#corpo{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#exercicios{
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.quadro{
    display: flex;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin: 5px;
    text-align: center;
    background-image: linear-gradient(220deg, #93dbc2, #ffffff);
    box-shadow: 1px 5px 2px #78a3b6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.quadro p{
    margin: 15px;
}
#txt1{
    width: 150em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
#lc{
    width: 250px;
    font-family: Verdana;
    font-size: 8pt;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}
#local{
    width: 25px;
    height: 25px;
}
h1{
    margin-left: 100px;
    font-family: 'Segoe UI';
    font-size: 22pt;
    color: rgb(239, 239, 44);
}
h1:hover{
    transition: 1s ease-in-out;
    color: white;
}
h2{
    font-family: 'Comic Sans MS';
    font-size: 12pt;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
