html, body{
    margin: 0;
    padding: 0;
}
#principal{
    width: 80%;
    height: 135em;
    margin: 0px 10%;
    font-family: Verdana;
    position: absolute;
    border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 650px;
    background-image: url(../Midia/Image/fundo.jpg);
    margin-top: -20px;
}
#s1{
    
}
#s2{
    width: 100%;
    height: 650px;
    margin-top: -20px;
    padding-top: 20px;
    background-color: silver;
}
#s3{
    width: 100%;
    height: 650px;
    margin-top: -20px;
    padding-top: 20px;
}
.foot{
    width: 100%;
    height: 150px;
    padding-top: 20px;
    background-color: green;

}
.int{
    width: 180px;
    height: 95%;
    float: left;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: 2px;
    left: 25%;
}
.menu{
    height: 35px;
    padding: 0.5em;
    background-color: red;    
}
a{
    text-decoration: none;
    color: white;
    font-size: 11pt;
}
#div1{

}
#di2{

}
#div3{

}
#div3{

}

p{
    left: 50%;
    top: 50%;
    margin: 6px 0 0 0px;
}

.text1{
    font-size: 14pt;
    color: white;
    padding-top: 150px;
}
.text2{
    font-size: 11pt;
    color: white;
    margin-top: -15px;  
}