html, body{
    margin: 0;
    padding: 0;
}
#principal{
    width: 80%;
    height: 99%;
    margin: 10px 10%;
    font-family: Verdana;
    position: absolute;
    border: 1px solid black;
    text-align: center;
}
.int{
    width: 24%;
    height: 95%;
    float: left;
    position: relative;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 2px 2px #a8ff9b;
    box-sizing: border-box;
    margin: 2px 0 0 8px;
}
.menu{
    height: 35px;
    padding: 0.5em;
    background-color: red;    
}
a{
    text-decoration: none;
    color: black;
    font-size: 11pt;
}
#div1{

}
#di2{

}
#div3{

}
#div3{

}
h1{
    font-size: 18pt;
}
h2{
    font-size: 14pt;
}
p{
    left: 50%;
    top: 50%;
    margin: 6px 0 0 -25px;

}