html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.logo{
    grid-area: logo;
}
.nav{
    grid-area: nav;
}
.header{
    grid-area: header;
}
.side{
    grid-area: side;
}
.body{
    grid-area: body;
}
.foot{
    grid-area: foot;
}
.container-grid{
    display: grid;
    grid-template-areas: 
        'logo logo logo logo logo logo'
        'header header header header header header'
        'nav nav body body body side'
        'nav nav body body body side'
        'nav nav body body body side'
        'foot foot foot foot foot foot';
    grid-gap: 2em;
    background-color: #A196F3;
    padding: 0.8em;
    min-width: 100%;
    min-height: 100%;
}
.int{
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 0.05em;
}
@media screen and (max-width: 640px) {
    .container-grid{
        grid-template-areas: 
        'logo logo logo logo logo logo'
        'header header header header header header'
        'nav nav body body body side'
        'nav nav body body body side'
        'nav nav body body body side'
        'foot foot foot foot foot foot';
    }
}
